/// <reference path="../site.less" />

.invite-panel{
    text-align: center;
    margin-top: 80px;
    padding: 10%;
}

.field{
    .fluid-element;
    .square-element;
   border: solid;
   border-color: black;
   padding-bottom: 99%;
}

.field-container{  
    padding-top: 15px;
    padding-bottom: 15px;
}

.field-row{
    .fluid-element;    
}

.field-cell{
    position: relative;
    width: 33.3333%;
    padding-bottom: 32.3%;
    float: left;
    text-align: center;
    vertical-align: middle;
    border: solid;
    border-color: black;
}

.empty-cell:hover{
    background-color: @gray-dark;
}

.cell-content{
    position: absolute;
    padding: 5%;   
    width: 100%;
    height: 100%;
    margin-left: -50%;   
}