
@{
    ViewBag.Title = "Game";
    var fieldSize = 3;
}

<div class="row">
    <div class="col-md-6 col-sm-12">
        <h1 id="Staus">Status string</h1>
        <div class="field-container container-fluid">
            <div class="field">
                @for (var i = 0; i < fieldSize; i++)
                {
                    <div class="field-row">
                        @for (var j = 0; j < fieldSize; j++)
                        {
                            <div id="@(i*3 + j)" class="field-cell"><img class="cell-content" src="/Content/img/o.svg" alt="O"></div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <h1>Moves history</h1>
        
    </div>
</div>

